---
- name: Configure services
  lineinfile:
    path: /etc/rc.conf
    line: "{{ item }}"
  loop:
    - clear_tmp=YES
    - devpubd=YES
    - inetd=NO
    - mdnsd=NO
    - ntpd=YES
    - postfix=NO

- name: Ensure the 'hosts' line is set correctly in /etc/nsswitch.conf
  lineinfile:
    path: /etc/nsswitch.conf
    regexp: '^hosts:'
    line: "hosts:\t\tfiles multicast_dns dns"
    state: present

- name: Set fact for root mount device
  set_fact:
    root_mount_device: "{{ ansible_mounts | selectattr('mount', 'equalto', '/') | map(attribute='device') | first }}"

- name: Mount / with soft-updates & noatime
  mount:
    path: /
    src: "{{ root_mount_device }}"
    fstype: ffs
    state: present
    opts: rw,noatime,log
    passno: 1
    dump: 1
    backup: true
