---
- name: Enable NPF
  lineinfile:
    path: /etc/rc.conf
    line: "{{ item }}"
  loop:
    - npf=YES

- name: Add npf.conf
  copy:
    src: npf.conf
    dest: /etc/npf.conf
    owner: root
    group: wheel
    mode: 0600
