---
- name: Configure repositories.conf
  lineinfile:
    path: /usr/pkg/etc/pkgin/repositories.conf
    regexp: '^https://cdn.NetBSD.org/pub/pkgsrc/packages/NetBSD/'
    line: "https://cdn.NetBSD.org/pub/pkgsrc/packages/NetBSD/{{ ansible_architecture }}/{{ ansible_distribution_version }}/All"
    state: present
    create: true

- name: Install required packages
  pkgin:
    name:
      - atf
      - autoconf
      - automake
      - bash
      - bash-completion
      - bison
      - clang
      - coreutils
      - curl
      - cwrappers
      - findutils
      - diffutils
      - digest
      - gawk
      - gettext
      - git-base
      - gmake
      - gsed
      - gtar
      - jq
      - mc
      - mktools
      - moreutils
      - patchutils
      - pigz
      - pkg-config
      - pkg_developer
      - pkglint
      - psmisc
      - python313
      - py313-argon2-cffi
      - py313-passlib
      - py313-requests
      - py313-setuptools
      - rsync
      - sysupgrade
      - vim
      - wget2
    state: present

#- name: Add pkgsrc collection
#  shell: git clone --depth 1 https://github.com/NetBSD/pkgsrc /usr/pkgsrc
#  args:
#    creates: /usr/pkgsrc

#- name: Add pkgsrc collection
#  git:
#    repo: https://github.com/NetBSD/pkgsrc
#    dest: /usr/pkgsrc
#    depth: 1
