---
# NOTE: We can't use Ansible's sysctl module
# because NetBSD's sysctl lacks -p option
- name: Security sysctls
  lineinfile:
    path: /etc/sysctl.conf
    line: "{{ item.line }}"
    regexp: "{{ item.regexp }}"
  loop:
    - line: net.inet.ip.random_id=1
      regexp: ^net\.inet\.ip\.random_id=
    - line: security.models.extensions.hardlink_check_gid=1
      regexp: ^security\.models\.extensions\.hardlink_check_gid=
    - line: security.models.extensions.hardlink_check_uid=1
      regexp: ^security\.models\.extensions\.hardlink_check_uid=
    - line: security.curtain=1
      regexp: ^security\.curtain=

- name: Install security packages
  pkgin:
    name:
      - doas
      - sudo
    state: present

- name: Configure doas
  copy:
    src: doas.conf
    dest: /usr/pkg/etc/doas.conf
    owner: root
    group: wheel
    mode: 0600

- name: Configure sudo
  copy:
    src: sudoers.d/custom
    dest: /usr/pkg/etc/sudoers.d/custom
    owner: root
    group: wheel
    mode: 0600

- name: Turn off suid/sgid bits
  file:
    path: "{{ item }}"
    mode: "u-s,g-s"
  ignore_errors: yes
  loop:
    - /usr/bin/lpq
    - /usr/bin/lpr
    - /usr/bin/lprm
    - /usr/sbin/lpc

# You can't run X11 with legacy (e.g. VESA) drivers above securelevel 0
- name: Set securelevel
  lineinfile:
    path: /etc/rc.conf
    line: "{{ item }}"
  loop:
    - securelevel=1
