---
- name: Copy wpa_supplicant.conf
  copy:
    src: wpa_supplicant.conf
    dest: /etc/wpa_supplicant.conf
    owner: root
    group: wheel
    mode: 0600

- name: Configure WiFi
  lineinfile:
    path: /etc/rc.conf
    line: "{{ item }}"
  loop:
    - dhcpcd_flags="-qM iwm0"
    - wpa_supplicant=YES
    - wpa_supplicant_flags="-B -s -i iwm0 -D bsd -c /etc/wpa_supplicant.conf"
